.btnAdicionar {
    background-color: rgb(154, 105, 70) !important;
    border: none !important;
    margin: 45px;
}

.btnFiltro {
    background-color: unset !important;
    color: black !important;
    border: 1px solid rgb(154, 105, 70) !important;
}

.btnFiltro:focus {
    background-color: rgb(154, 105, 70) !important;
    color: white !important;
    border: 1px solid rgb(154, 105, 70) !important;
}

.divCards{
    display: flex;
    justify-content: space-between;
    margin: 45px 0 45px 45px;
    height: 120px;

}

.card {
    background-color: beige !important;
    height: 100%;
    width: 120px;
}