.btnCancelar{
    background-color: rgba(239, 114, 97, 0.977) !important;
    border: none !important;
}

.btnSubmit {
     background-color: rgb(156, 112, 80) !important;
    border: none !important;
}

.btnDeletar{
    background-color: rgba(230, 51, 48, 0.977) !important;
    border: none !important;
}